@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@theme {
  --font-display: "Old Standard TT";
}
@theme {
  --font-mono: "Indie Flower";
}

@custom-variant dark (&:where(.dark, .dark *));
html {
  scroll-timeline: --page-scroll block;
}

body {
  color: var(--color-amber-100);
}

.progressBar {
  animation: grow-progress auto linear;
  animation-timeline: --page-scroll;
  position: fixed;
  z-index: 50;
  height: 5px;
  left: 0;
  bottom: 0;
  transform-origin: 0 50%;
  background: linear-gradient(
    90deg,
    var(--color-lime-900) 0%,
    var(--color-lime-500) 100%
  );
  width: 100%;
  transform: scaleX(0);
}
.fadeInOut {
  animation: fadeInOut auto linear;
  animation-timeline: view();
}
@keyframes grow-progress {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes fadeInOut {
  entry 0% {
    transform: translateY(100%);
    opacity: 0;
  }
  entry 100% {
    opacity: 1;
    transform: translateY(0%);
  }
  exit 0% {
    transform: translateY(0);
    opacity: 1;
  }
  exit 100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
